<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta charset="UTF-8">
  <title>Make your voice heard!</title>
</head>
<body style="font-family: 'Montserrat', 'san serif', 'Helvetica'; background-color: white;">
  <%= image_tag 'votobooth-logo.png', :style => "width: 100px"%>
  <h1 class="heading-medium-gray-bold" style="font-family:'Montserrat', 'san serif', 'Helvetica'; margin-top: 1em;">Welcome to VotoBooth</h1>
  <p style="font-family:'Montserrat', 'san serif', 'Helvetica'">Hello, constituent!</p>
  <p style="font-family:'Montserrat', 'san serif', 'Helvetica'">You have been added to the eligible voters list for <%= @election.name %>.</p>
  <p style="font-family:'Montserrat', 'san serif', 'Helvetica'">To make your voice heard in this election, please follow these steps:</p>
  <ol style="font-size: .75em">
    <li style="font-family:'Montserrat', 'san serif', 'Helvetica'; color: #6E8387">Copy the password: <%= @password %></li>
    <li style="font-family:'Montserrat', 'san serif', 'Helvetica'; color: #6E8387"><%= link_to ' Log in here with your email.', election_url(@election), style: "color: #0CCA4A; font-weight: 700"%></li>
    <li style="font-family:'Montserrat', 'san serif', 'Helvetica'; color: #6E8387">Select your candidate and place your vote.</li>
  </ol>
  <p style="font-family:'Montserrat', 'san serif', 'Helvetica'">If you think you can make a bigger influence by running in this election, you can sign up as a candidate below:</p>
  <br>
  <p style="font-family:'Montserrat', 'san serif', 'Helvetica'"><%= link_to 'Become a candidate', new_election_candidature_url(@election), class: "btn-large-green-new" %></p>

</body>
</html>
