<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <title>Make your voice heard!</title>
</head>
<body>
  <h1>Welcome to VotoBooth</h1>
  <p>Hello, constituent!</p>
  <p>You have been added to the eligible voters list for <%= @election.name %>.</p>
  <p>To make your voice heard in this election, please follow these steps:</p>
  <ol>
    <li><%= link_to ' Log in here with your email and password.', election_url(@election) %></li>
    <li>Select your candidate and place your vote.</li>
  </ol>
  <br>
  <p>If you don't remember your password, don't hesitate to:</p>
  <%= link_to 'Reset your password', new_user_password_url %>
  <p>If you think you can make a bigger influence by running in this election, you can <%= link_to 'become a candidate!', new_election_candidature_url(@election), class: "btn-large-green-new" %></p>
</body>
</html>
