
<h1>Eligible voters</h1>

<% @election.eligible_voters.each do |eligible_voter| %>
  <div class="eligible-card">
    <h4><%= eligible_voter.user.first_name %> <%= eligible_voter.user.last_name %> <%= link_to 'Delete', eligible_voter_path(eligible_voter.id) %></h4>

  </div>
<% end %>
<%= render './elections/form2' %>

<%= link_to 'Back to election', election_path(@election.id) %>
