<div class="page-container">

  <div class="heading-candidatures-index">
    <h2><%= link_to @election.name, election_path(@election)%></h2>
    <h4 class="heading-medium-gray-bold">Get to know the candidates</h4>
  </div>


    <% if @candidatures.empty? %>
    <p>There are no candidates listed in this election yet.</p>

    <% else %>
      <div class="candidate-cards-container">
      <div class="candidate-cards-container">
        <% @candidatures.each do |candidate| %>
          <div class="candidate-card">
            <br>
            <div class="candidate-card-heading">

              <h4 class="heading-regular-gray-thin"><%= candidate.name %></h4>
              <div>
                <% if candidate.picture.url.nil? %>
                  <%= image_tag "Jennifer Louise.jpg", class: "avatar-large"%>
                <% else %>
                  <%= image_tag candidate.picture.url(:avatar), class: "avatar-large" %>
                <% end %>
              </div>
            </div>
            <p><%= candidate.tagline %></p>
            <div class="candidate-card-links">
              <div class="candidate-card-link left-link">
                <%= link_to 'Read more', candidature_path(candidate)%>
              </div>
              <div class="candidate-card-link right-link">
                <%= link_to 'Vote', candidature_confirmation_path(candidate)%>
              </div>
            </div>
          </div>
        <% end %>
        <br>
        <br>
        <br>
        <br>
    </div>
  <% end %>

  </div>
</div>

  <% if @election.election_status != "Polls closed" %>
    <div class="link-bottom-container">
      <div>
      <%= link_to new_election_candidature_path(@election.id) do %>
        <div class="btn-large-green-new">
          Become a candidate
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

