<% if @candidature.picture.url.nil? %>
  <div class="page-container-candidature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "penguin.jpg", gravity: :center %>)">
  <% else %>
  <div class="page-container-candidature" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(<%= cl_image_path @candidature.picture, create_derived: true, bytes_step: 20000, min_width: 200, max_width: 1000, transformation: { crop: :fill, aspect_ratio: "4:6", gravity: :center } %>)">
<% end %>

  <h1 id="candidate-header"><%= @candidature.name %></h1>
  <h2 id="candidate-header"> For <%=@candidature.election.name %></h2>
  <h4 id="candidate-header"><%= @candidature.tagline %></h4>

        <div class="btn-scroll-down">
      <a href="#promise-card"><span></span></a>
    </div>
  <div class="card promise-card" id="promise-card">

    <div class="campaign-promise">
      <h5>Who am I?</h5>
      <p><%= @candidature.aboutme %></p>
      <hr>
      <h5>What I stand for...</h5>
      <p><%= @candidature.promise1 %></p>
      <hr>
    </div>
    <div class="campaign-promise">
      <h5>And...</h5>
      <p><%= @candidature.promise2 %></p>
      <hr>
    </div>
    <div class="campaign-promise">
      <h5>Also I like...</h5>
      <p><%= @candidature.promise3 %></p>
      <hr>
    </div>
    <div class="campaign-promise">
    <h5 >Why vote for me:</h5>
    <p><%= @candidature.whyme %></p>
    </div>

    <% unless @candidature.youtube_url.empty? %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @candidature.youtube_url.scan(/=(.+)/).last.first %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>

    <div class="cast-vote-div">
      <%= link_to 'Vote for this candidate', candidature_confirmation_path(@candidature), class: "btn-large-green btn-cast-vote" %>
      <br>
      <br>
      <%= link_to 'Back to candidates', election_candidatures_path(@election) %>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
