
<%= simple_form_for(@election) do |f| %>
  <div class="input-field">
    <%= f.input :name, label: 'Name your election', prompt: 'Type name here' %>
  </div>
  <div class="input-field">
    <%= f.input :description, label: 'Write a description', prompt: 'Let voters know what this election is all about' %>
  </div>
  <div class="input-field">
    <%= f.input :voting_start_date, as: :string, class: "form-control", label: 'When do the polls open?', input_html: {class: "datepicker"} %>
  </div>
  <div class="input-field">
    <%= f.input :voting_end_date, as: :string, label: 'When do the polls close?', input_html: {class: "datepicker"} %>
  </div>
  <div class="input-field">
    <%= f.input :campaign_close_date, as: :string, label: 'When is the last day for candidates to submit their manifesto for this election?', input_html: {class: "datepicker"} %>
  </div>
  <%= f.submit "Submit", class: "btn-large-green" %>
<% end %>

