
<%= simple_form_for(@election) do |f| %>
  <div class="input-field">
    <%= f.input :name, label: 'Name your election', prompt: 'Type name here' %>
  </div>
  <div class="input-field">
    <%= f.input :description, label: 'Write a description', prompt: 'Let voters know what this election is all about' %>
  </div>

  <div class="input-field">
    <%= f.input :dates, as: :string, class: "form-control", label: 'When can people vote? (Polls open at 00:01 and close at 23:59)', input_html: {class: "datepicker"} %>
  </div>

  <%= f.submit "Create Election", class: "btn-large-green" %>
<% end %>

