
<%= simple_form_for(@election) do |f| %>
  <div class="input-field">
    <%= f.input :name, label: 'Name your election', prompt: 'Type name here', as: :text, input_html: {rows: 1 } %>
  </div>
  <div class="input-field">
    <%= f.input :description, label: 'Write a description', prompt: 'Let voters know what this election is all about', as: :text, input_html: { rows: 4 } %>
  </div>

  <div class="input-field">
    <%= f.input :voting_start_date, as: :string, class: "form-control", label: 'When do the polls open?', input_html: {class: "datepicker"} %>
  </div>

  <div class="input-field">
    <%= f.input :voting_end_date, as: :string, label: 'When do the polls close?', input_html: {class: "datepicker"} %>
  </div>

  <div class="btn-large-green-new">
    <%= f.submit "Create Election"%>
  </div>
<% end %>

