  <div class="green-background ">

    <div class="home-banner election-home-banner">
      <div class="page-container">
        <h4>ELECTION</h4>
        <h1><%= @election.name %></h1>
        <div class="election-time-left">
          <p><%= @election.voting_end_date.strftime("%b %e, %l:%M %p") %></p>
          <h6>POLLS CLOSE</h6>
        </div>
        <div class="btn-small-white-no-border">
          <%= link_to 'View candidates', election_candidatures_path(@election)%>
        </div>
      </div>
    </div>

  </div>

  <div class="page-container election-details-container">

    <div class="election-home-details">
      <h4 class="heading-regular-gray-thin">
        What am I voting for?
      </h4>
      <p>
        <%= @election.name %>
      </p>
      <h4 class="heading-regular-gray-thin">
        About this election
      </h4>
      <p>
        <%= @election.description %>
      </p>
    </div>


    <% if @election.user == current_user %>

      <div class="election-home-footer">
        <div class="page-links">
          <div class="btn-small-white">
            <%= link_to 'Edit election', edit_election_path(@election.id)%>
          </div>
          <div class="btn-small-white">
            <%= link_to 'See eligible voters', new_election_eligible_voter_path(@election.id)%>
          </div>
          <div class="btn-small-white">
            <%= link_to 'View candidates', election_candidatures_path(@election.id)%>
          </div>
          <% unless @election.pending_candidates.empty? %>
            <div class="btn-small-white">
            <%= link_to 'Review pending candidates', election_approval_path(@election)%>
          </div>
          <% end %>
        </div>

    <% else %>

        <div class="btn-large-green-new" id="candidates-btn">
          <%= link_to 'View candidates', election_candidatures_path(@election.id)%>
        </div>
      </div>

    <% end %>


  </div>

