<div class="page-container">

  <div class="election-home-banner">
    <div class="banner-content">
      <h4>ELECTION</h4>
      <h2><%= @election.name %></h2>
      <p><%= @election.voting_end_date.strftime("%b %e, %l:%M %p") %></p>
      <h6>POLLS CLOSE</h6>
      <div class="btn-small-white-no-border">
        <%= link_to 'Go to polls', election_candidatures_path(@election)%>
      </div>
    </div>

  </div>

  <div class="election-home-details">
    <h4 class="heading-regular-gray-thin">
      What am I voting for?
    </h4>
    <p>
      <%= @election.name %>
    </p>
    <h4 class="heading-regular-gray-thin">
      About this election
    </h4>
    <p>
      <%= @election.description %>
    </p>
  </div>

  <div class="election-home-footer">
    <div class="btn-large-green-new">
      <%= link_to 'Go to polls', election_candidatures_path(@election)%>
    </div>
  </div>


</div>
