  <div class="green-background ">

    <div class="home-banner election-home-banner">
      <div class="page-container">
        <h4>ELECTION</h4>
        <h1><%= @election.name %></h1>
        <div class="election-time-left">
          <p><%= @election.voting_end_date.strftime("%b %e, %l:%M %p") %></p>
          <h6>POLLS CLOSE</h6>
        </div>

        <% if @election.election_status == "Polls closed" %>
          <%= link_to election_results_path(@election.id) do %>
          <div class="btn-small-white-no-border">
            See results
          </div>
          <% end %>
        <% else %>
          <%= link_to election_candidatures_path(@election) do %>
          <div class="btn-small-white-no-border">
            View candidates
          </div>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="btn-scroll-down">
      <a href="#promise-card"><span></span></a>
    </div>
  </div>


  <div class="page-container election-details-container" id="promise-card">

    <div class="election-home-details">
      <h4 class="heading-regular-gray-thin">
        What am I voting for?
      </h4>
      <p>
        <%= @election.name %>
      </p>
      <h4 class="heading-regular-gray-thin">
        About this election
      </h4>
      <p>
        <%= @election.description %>
      </p>
    </div>


    <% if @election.user == current_user %>

      <div class="btn-group dropdown-lg">
        <button type="button" class="btn btn-small-white dropdown-toggle" data-toggle="dropdown">
          Manage election
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-lg-menu" role="menu">
          <li class="dropdown-btn">
            <div class="element"><%= link_to 'Edit election', edit_election_path(@election.id)%>
            </div>
          </li>
          <li class="dropdown-btn">
            <div class="element"><%= link_to 'See eligible voters', new_election_eligible_voter_path(@election.id)%>
            </div>
          </li>
          <li class="dropdown-btn">
            <div class="element"><%= link_to 'View candidates', election_candidatures_path(@election.id)%>
            </div>
          </li>
          <% if @election.pending_candidates.empty? %>
            <li class="dropdown-btn">
              <div class="element">
              <%= link_to 'Review pending candidates', election_approval_path(@election)%>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    <% else %>

        <div>
          <%= link_to 'View candidates', election_candidatures_path(@election.id), class: "btn-large-green-new", id: "candidates-btn"%>
        </div>
      </div>

    <% end %>

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
