<div class="home-banner green-background">
  <div class="home-banner-content">
    <div class="title">
      <h1>You don't need to be present to choose wisely.</h1>
    </div>
    <div class="subtitle">
      <p>Hosting, running and voting in elections made simple.</p>
    </div>
    <%= link_to new_election_path do %>
      <div class="btn-small-white-no-border">
        Build an election
      </div>
    <% end %>
    <div class="btn-scroll-down">
      <a href="#home-container"><span></span></a>
    </div>
  </div>
</div>

<div class="page-container text-center" id="home-container">

    <div class="home-tagline">
      <h2>Votobooth delievers democracy to your inbox</h2>
    </div>

    <div class="home-card-container">
      <div class="home-icon icon-vote">
        <%= image_tag("vote.png") %>
      </div>
      <h4 class="heading-regular-gray-thin">Vote in an election</h4>
      <p>Get involved in your community by having a say</p>
      <%= link_to 'View elections', dashboard_path%>
    </div>

    <div class="home-card-container">
      <div class="home-icon icon-manage">
        <%= image_tag("manage.png") %>
      </div>
      <h4 class="heading-regular-gray-thin">Build elections</h4>
      <p>Create, host, and manage elections and easily keep your consistuency informed</p>
      <%= link_to 'Build an election', new_election_path%>
    </div>

    <div class="home-card-container">
      <div class="home-icon icon-manage">
        <%= image_tag("run.png") %>
      </div>
      <h4 class="heading-regular-gray-thin">Become a candidate</h4>
      <p>Run for positions in your community on issues that you care about</p>
      <%= link_to 'Get involved', dashboard_path%>
    </div>

    <%= link_to new_election_path do %>
      <div class="btn-large-green-new">Build an election</div>
    <% end %>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
