<h1>Your elections</h1>

<%= link_to 'Build an election', new_election_path, class: 'btn btn-large-green' %>
<hr>

<div class="election">
  <% current_user.elections.each do |election| %>
    <div class="election-card">
     <h2><%= election.name %></h2>
     <div class="election-card-polling">
       <p>Polling period</p>
       <p><%= election.voting_start_date %> - <%= election.voting_end_date %></p>
       <p>For <%=election.eligible_voters.count%> voters</p>
     </div>
     <p> <%= pluralize election.candidatures.count, "candidate"%>  to review</p>
     <div class="election-card-status">
        <li><%= election.total_votes %> votes cast</li>
        <li><%= pluralize election.candidatures.count, "candidate"%></li>
        <li>Time remaining</li>
     </div>
     <%= link_to 'Edit election', edit_election_path(election.id), class: 'btn btn-large-white' %>
    </div>

  <% end %>



</div>
