<div class="container">
<%= link_to 'Build an election', new_election_path, class: 'btn btn-large-green' %>
<div class="tabs nav nav-tabs">
  <a class="tab" data-toggle="tab" href="#hosting">Hosting</a>
  <a class="tab"  data-toggle="tab" href="#running">Running</a>
 <a class="tab" data-toggle="tab" href="#voting">Voting</a>
</div>

<div class="tab-content">
<div id="hosting" class="tab-pane show active election">
  <hr>
  <% current_user.elections.each do |election| %>
  <div class="card-grid col-sm-6">
    <div class="election-card-header">
     <h2 class="heading-regular-gray-thin"><%= election.name %></h2>
     <p>Live</p>
    </div>
     <div class="election-card-body">
        <div class="election-card-body-polling">
           <p>Polling period</p>
           <p><strong><%= election.voting_start_date %> - <%= election.voting_end_date %></strong></p>
           <p>For <%=election.eligible_voters.count%> voters</p>
        </div>
        <div class="election-card-body-candidates">
          <h4><%= election.candidatures.count %></h4>
          <p> <%= "candidate".pluralize(election.candidatures.count)%> to review</p>
        </div>
        <div class="election-card-status">
          <div class="election-card-status-section">
            <ul><%= election.total_votes %></ul>
            <ul><%= "vote".pluralize(election.total_votes)%></ul>
          </div>
          <div class="election-card-status-section">
            <ul><%= election.candidatures.count%></ul>
            <ul><%= "candidate".pluralize(election.candidatures.count)%></ul>
          </div>
          <div class="election-card-status-section">
            <ul>[Time remaining]</ul>
            <ul>Time remaining</ul>
          </div>
        </div>
        <%= link_to 'Edit election', edit_election_path(election.id), class: 'btn btn-large-white' %>
        <%= link_to 'Eligible voters', new_election_eligible_voter_path(election.id), class: 'btn btn-large-white' %>
    </div>
  </div>
  <% end %>
</div>

<div id="running" class="tab-pane fade election">
  <h1>Placeholder - running </h1>
</div>

<div id="voting" class="tab-pane fade election">
  <h1>Placeholder - voting </h1>
</div>
</div>
</div>
