<div class="page-container">

  <div class="ty-page-heading">
    <h2 class="heading-medium-gray-bold">Thank you for participating</h2>
    <p><%= @candidature.votes.count %> <%= "person".pluralize(@candidature.votes.count)%> voted today.</p>
  </div>


  <div class="election-card-container">

    <hr id="hr-top">

    <div class="election-card-content-container">

      <h2 class="heading-regular-gray-thin">
        <%= @election.name %>
      </h2>

      <div class="election-card-stats">
        <h4 class="election-card-votes">
          <%= @election.total_votes %>
        </h4>
        <h6 class="election-card-time">
          <%= @election.voting_end_date.strftime("%b %e, %l:%M %p") %>
        </h6>
      </div>

      <div class="election-card-stats election-card-stats-labels">
        <p><%= "vote".pluralize(@election.total_votes)%> cast out of <%= @election.eligible_voters.count %> possible votes</p>
        <p>Voting ends
        </p>
      </div>

      <hr id="hr-bottom">

    </div>


  </div>


  <div class="confirmation-page-links">
    <div class="btn-grn-lg">
      <%= link_to 'Remind your friends'%>

      </div>
    <div class="btn-plain bottom-link">
      <%= link_to 'Host your own election', new_election_path %>
    </div>
        <div class="btn-plain bottom-link">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            Log out
        <% end %>
    </div>

    </div>

  </div>



</div>
