<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Votobooth | Organize, Run, and Vote in an election</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'votobooth-logo.png' %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="home-page-container <%= current_page?('/') || current_page?(controller: 'elections', action: 'show') ? 'green-background' : ''%>">

      <%= render 'shared/navbar' %>


      <p class="notice"><%= notice %></p>

      <p class="alert"><%= alert %></p>


      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
